#page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
}

#finder {
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 1em;
  right: 1em;
  display: none;
}

#controls {
  position: absolute;
  bottom: 1em;
}
